*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}   
.container{
    max-width: 1600px;
    margin: 0 auto;
}
header{
    background-image: url("background_cabecalho.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
}
@media(min-width: 600px) {
    header{
        padding-bottom: 50px;
    }
}
.menu{
    text-align: center;
}
.menu--sub{
    list-style: none;
    display: flex;
    flex-direction: column;
}
@media(min-width: 600px){
    .menu--sub{
      flex-direction: row;
      justify-content: center;
      padding: 5px;
    }
  }
  @media(max-width: 600px) {
      .menu--inscricao{
          display: none;
      }
  }
.menu--item > a{
    padding: 5px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 14px;
    padding-right: 15px;
  }
.menu--item > a:hover{
    background-color: white;
  }
.cabecalho--corpo{
    text-align: center;
    padding: 3px;
}
.cabecalho--subtitulo{
    font-size: 14px;
}
.cabecalho--texto{
    margin-bottom: 20px;
    background-color:rgba(241, 196, 15, 0.7);
    padding: 15px;
    display: inline-block;
    font-weight: normal;
}
.cabecalho--texto2{
    margin-bottom: 20px;
    background-color:rgba(241, 196, 15, 0.7);
    padding: 15px;
    display: inline-block;
    font-weight: normal;
}
@media(max-width: 600px){
    .cabecalho--texto2{
        margin-bottom: 20px;
        background-color:rgba(241, 196, 15, 0.7);
        padding: 15px;
        padding-left: 49px; 
        display: inline-block;
        font-weight: normal;
    }
}
.botao--inscricao{
    margin-top: 20px;
    background-color: #E74C3C;
    border-radius: 5px;
    color: white;
    width: 98px;
    height: 29px;
    border: 0;
}
@media(min-width: 600px) {
    .botao--inscricao{
        margin-top: 15px;
        width: 75px;
        height: 19px;
    }
    .cabecalho--botao{
        display: none;
    }
}


.maratona--titulos{
    text-align: center;
    margin: 50px 20px 40px;
    font-size: 22px;
}
.maratona--titulos-subtitulo{
    margin-top: 20px;
    font-size: 20px;
}
.maratona--texto{
    max-width: 327px;
    text-align: justify;
    margin: 20px auto;
}
@media(min-width: 600px) {
    .maratona--texto{
    max-width: 1050px;
    }
}

.programacao--titulo{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}
.table{
    max-width: 400px;
    margin: 0 auto;
}
@media(min-width: 600px) {
    .table{
    max-width: 100%;
    }
}
 .table{
    border: 1px black solid;
    border-collapse: collapse;
  }
  .table th, .table td{
    padding: 10px 20px;
    text-align: left;
  }
  @media(min-width: 1050px) {
    .table th, .table td{
        padding: 10px 60px;
      }
  }

  .table tr:nth-child(1){
    background-color: lightgray;
  }
  .table tr:not(:nth-child(1)):hover{     
    background-color: rgba(241, 196, 15, 0.7);
  }

  .localizacao--titulo{
      margin-top: 90px;
      margin-bottom: 20px;
      text-align: center;
  }
  .localizacao--mapa{
    display: flex;
    justify-content: center;
  }
  .localizacao--mapa iframe{
      height: 299px;
      width: 100%;
  }
  @media(min-width: 600px) {
      .localizacao--mapa iframe{
          height: 500px;
      }
  }

  /* CONTATO */
  .contato{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .contato--titulo{
      text-align: center;
      margin-top: 90px;
      margin-bottom: 30px;
  }
  .contato--formulario--label{
      margin-left: 20px;
  }
  .contato--formulario--campo{
    border: 1px solid #F1C40F;
    margin: 10px 20px 20px;
    width: 322px;
    height: 30px;
  }
  .contato--formulario--campo-msg{
    border: 1px solid #F1C40F;
    margin: 7px 20px 15px;
    width: 322px;
    height: 120px;
    margin-bottom: 30px;
  }
  .botao--enviar-formulario{
    background-color: #F1C40F;
    border-radius: 5px;
    color: white;
    width: 180px;
    height: 29px;
    border: 0;
    margin-bottom: 70px;
}
@media(min-width: 800px) {
    .contato--titulo{
        margin-bottom: 50px;
    }
    .contato--formulario{
        margin-left: -450px;
    }
    .contato--formulario--mensagem{
        margin-left: 450px;
        margin-top: -160px;
        }
        .botao--enviar-formulario{
            width: 80px;
            margin-left: 690px;
            margin-top: -10px;
        }
}


  /* RODAPE */
  .rodape{
      background-color: #F1C40F;
      padding: 40px;
  }
.rodape--imagens{
    display: flex;
    justify-content: center;
}
.rodape--logo{
    width: 70px;
    height: 84px;
    margin-bottom: 20px;
}
.rodape--textos{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rodape--titulo{
    font-weight: bold;
}
.rodape--endereco{
    max-width: 322px;
}
@media(min-width: 600px) {
    .rodape--endereco{
    max-width: 659px;
    }
}

/*MENU*/
.topnav {
    overflow: visible;
    background-color: rgba(229, 229, 229, 0.5);
  }
  @media screen and (min-width: 650px) {
    .topnav{
      overflow: hidden;
    }
  }
  .topnav a {
    float: left;
    display: flex;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    /*background-color: #ddd;*/
    color: black;
  }
  .icon{
    text-decoration: none;
  }
  @media screen and (max-width: 650px) {
    .topnav a {
      display: none;
    }
  }
  @media screen and (max-width: 650px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .header--icon-div{
    position: relative;
    top: 73px;
    left: 22px;
    
  }
  @media(min-width: 650px){
    .header--icon-div{
      display: none;
    }
  }
  .header--icon {
    width: 26px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
  }
}