.container-card {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.center-card {
    align-items: center !important;
    justify-content: space-around !important;
}

.card1 {
    justify-content: space-around !important;
    background-color: white;
    width: 320px;
    min-height: 454.5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px #1C2438;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    -webkit-animation-duration: 1.5s;
    animation-name: shadow-show;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
}
.card1 h1,
.card1 h2,
.card1 h3,
.card1 h4,
.card1 h5 {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #282828;
}

.card1 hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #1C2438;
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}
.card1 p {
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #282828;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}
.card1 button {
    border: none;
    width: 60%;
    margin: 10px auto;
    padding: 10px 30px;
    border: 1px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(right, #f9a766 0%,#fe7773 100%);
    -moz-border-image: -moz-linear-gradient(right, #f9a766 0%,#fe7773 100%);
    -o-border-image: -o-linear-gradient(right, #f9a766 0%,#fe7773 100%);
    border-image: linear-gradient(to right, #f9a766 0%,#fe7773 100%);
    border-image-slice: 1;
    background-image: linear-gradient(to right, #f9a766, #fe7773);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-family: "Noto Sans KR", sans-serif;
    text-transform: uppercase;
}

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
from {
        margin: 0px 100px;
    }
to {
        margin: 0px;
    }
}
  /* Standard syntax */
@keyframes line-show {
from {
    margin: 0px 100px;
    }
to {
    margin: 0px;
    }
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
from {
    color: white;
    }
to {
    color: #282828;
    }
}
  /* Standard syntax */
@keyframes p-show {
from {
    color: white;
    }
to {
    color: #282828;
    }
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
to {
    box-shadow: -20px -20px 0px 0px ##1C2438;
    }
}
  /* Standard syntax */
@keyframes shadow-show {
from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
    box-shadow: -20px -20px 0px 0px #1C2438;
    }
}