.container-card {
    width: 70%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 899px) {
    .container-card .card1{
        margin-bottom: 75px;
    }
}
.center-card {
    align-items: center !important;
    justify-content: space-around !important;
}

.card1 {
    justify-content: space-around !important;
    background-color: #fafafa;
    width: 360px;
    min-height: 504.5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;    
    box-shadow: -20px -20px 0px 0px #d62344;
    border-radius: 10px;
    -webkit-animation-name: shadow-show;
    -webkit-animation-duration: 2.5s;
    animation-name: shadow-show;
    animation-duration: 2.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
}
.card1 h1,
.card1 h2,
.card1 h3,
.card1 h4,
.card1 h5 {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #282828;
}

.card1 hr {
    display: block;
    border: none;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0), #F01130 0%,#FF5574 100%);
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}
.card1 p {
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #282828;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}
.main-buttonc {
    border: 1px solid transparent;
    -webkit-border-image: 
    -webkit-linear-gradient(right, #F01130 0%,#FF5574 100%);
    -moz-border-image:
    -moz-linear-gradient(right, #F01130 0%,#FF5574 100%); 
    -o-border-image:
    -o-linear-gradient(right, #F01130 0%,#FF5574 100%);
    border-image:
    linear-gradient(to right, #F01130 0%,#FF5574 100%);
    border-image-slice: 1;
    padding: 15px 60px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0), #F01130 ,#FF5574);
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.315);
}

.main-buttonc:hover {
    color: #111;
    background-position: 100% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.main-buttonc span, .top-buttonc span {
    font-weight: 600;
    font-size: 14px;
}

.main-buttonc:focus, .top-buttonc:focus {
    outline: none;
}

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
from {
        margin: 0px 100px;
    }
to {
        margin: 0px 100px;
    }
}
  /* Standard syntax */
@keyframes line-show {
from {
    margin: 0px 100px;
    }
to {
    margin: 0px 125px;
    }
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
from {
    color: white;
    }
to {
    color: #282828;
    }
}
  /* Standard syntax */
@keyframes p-show {
from {
    color: white;
    }
to {
    color: #282828;
    }
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
to {
    box-shadow: -20px -20px 0px 0px #FF5574;
    }
}
  /* Standard syntax */
@keyframes shadow-show {
from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
    box-shadow: -20px -20px 0px 0px #FF5574;
    }
}