*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.container--fix{
  max-width: 400px;
  margin: 0 auto;
}
.clearfix{
  overflow: auto;
}
input[type=text] {
  width: 325px;
  padding: 12px 20px;
  margin: 6px 0;
  border: none;
  border-bottom: 2px solid #00420C;
}

/*header*/
.header{
  background-color: #117A25;
  color: #F2F2F2;
  }
  .header--div{
  text-align: center;
  padding: 20px;
  }
  .header--title{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: inline-block;
  text-align: left;
  }
  .header--icon {
    width: 26px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
  }
  .header--icon-div{
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 22px;
  }
  @media(min-width: 650px){
    .header--icon-div{
      display: none;
    }
  }
  .header--icon-align{
    text-align: center;
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 25px;
  }

/*main*/
.main{
  text-align: center;
  }
  .main--title{
    font-family: 'Roboto', sans-serif;
    color: #00420C;
    margin-top: 25px;
  }

  .main--text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    max-width: 340px;
    text-align: justify;
    display: inline-block;
    margin: 20px 5px 50px 0px;
  }
  .main--lista{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    display: inline-block;
    margin: 25px 0px 50px 0px;
  }
  .main--concept{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #117A25;
    text-decoration: none;
    display: block;
    padding: 30px;
    margin: 10px auto;
    max-width: 313px;
    border-radius: 5px;
  }
  .main--four{
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    text-align: center;
    margin: 35px;
    height: 10px;
  }
  .main--title-coordinator{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #00420C;
    margin: 65px 0px 20px 0px;
  }
  .main--image{
    border-radius: 5px;
    border: 2px solid #00420C;
    width: 170px;
  }
  .main--name-coordinator{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #00420C;
    margin: 25px 0px 50px 0px;
  }
  .main--table{
    text-align: left;
    border-collapse: collapse;
    display: inline-block;
    margin: 40px 20px 40px 20px;
  }
  .table {
    border-collapse: collapse;
    max-width: 327px;

  }
  .table, td, th {
    border: 1px solid black;
  }

  th {
    background-color: #E5E5E5;
    padding-left: 20px;
  }
  td{
    padding: 12px 3px 10px 10px;
  }
  .main--image-prof{
    border-radius: 5px;
    border: 2px solid #00420C;
    width: 100px;
    float: left;
  }
  .main--div-prof{
    margin: 21px;
  }
  .main--text-prof{
    font-family: 'Roboto', sans-serif;
    color: #00420C;
    font-size: 18px;
    text-align: left;
    display: block;
    margin-left: 110px;
  }
  .main--text-link{
    font-family: 'Roboto', sans-serif;
    color: #0000FF;
    font-size: 12px;
  }

  .main--title-contato{
    font-family: 'Roboto', sans-serif;
    color: #00420C;
    font-size: 24px;
    text-align: center;
    margin: 25px 0px 0px 0px;
  }
  .main--contato{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
    color: #00420C;
  }
  .main--buttom{
    margin-top: 30px;
    background-color: #117A25;
    color: white;
    width: 326px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  /*footer*/
  .footer{
    text-align: center;
  }
  .footer--div{
    background-color: #00420C;
  }
  .footer--text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F2F2F2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 0 auto;
    margin-left: 20px;
    text-align: left;
    display: inline-block;
    padding-bottom: 100px;
  }
  .footer--image{
    margin-top: 30px;
    max-width: 150px;
  }

  /*MENU*/
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: visible;
    background-color: #00420C;
  }
  @media screen and (min-width: 600px) {
    .topnav{
      overflow: hidden;
    }
  }
  
  .topnav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .icon{
    text-decoration: none;
    display: inline-block;
  }
  @media screen and (max-width: 600px) {
    .topnav a {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
